body {
  background-image: url("https://img.freepik.com/free-photo/pastel-background-with-aesthetic-pink-sky_53876-129588.jpg?w=1380&t=st=1701533309~exp=1701533909~hmac=854e098d2abbe89b4d609ff5b6201edd960c8dff8d4200bfa7de094c542911f2");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #ded4df75;
  padding: 0 0 28px 0;
}
footer {
  border-top: 1px solid #ded4df75;
  padding: 28px 0 0 0;
  text-align: center;
  font-weight: 14px;
}
a {
  color: #cdc0ca;
}

.wrap-box {
  display: flex;
  justify-content: space-between;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-input {
  background-color: #ded4df;
  border: none;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 6px;
  padding: 20px;
  width: 80%;
  font-size: 25x;
}

.search-button {
  background-color: #e6d5db;
  border: none;
  color: white;
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
