body {
  background-image: url("https://img.freepik.com/free-photo/pastel-background-with-aesthetic-pink-sky_53876-129588.jpg?w=1380&t=st=1701533309~exp=1701533909~hmac=854e098d2abbe89b4d609ff5b6201edd960c8dff8d4200bfa7de094c542911f2");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px #41326414;
  border-radius: 16px;
}
