body {
  background-image: url("https://images.unsplash.com/photo-1636837955417-2d8a4e49368f?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #ded4df75;
  padding: 0 0 28px 0;
}
footer {
  border-top: 1px solid #ded4df75;
  padding: 28px 0 0 0;
  text-align: center;
  font-weight: 14px;
}
a {
  color: #cdc0ca;
}
main {
  padding: 30px p;
}
.wrap-box {
  display: flex;
  justify-content: space-between;
}
.weather-app {
  background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-input {
  background-color: #ded4df;
  border: none;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 6px;
  padding: 20px;
  width: 80%;
  font-size: 25x;
}

.search-button {
  background-color: #e6d5db;
  border: none;
  color: white;
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.main-city {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
}
.weather-details {
  font-size: 16px;
  line-height: 20px;
  color: #27214266;
  line-height: 24px;
  font-weight: 500;
}
.weather-details strong {
  color: #be97c6;
}

.weather-app-container {
  display: flex;
}
.weather-app-temp {
  color: #212121;
  font-size: 75px;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}
.weather-app-value {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: 5px;
}
.weather-app-icon {
  margin-top: 10px;
  font-size: 40px;
}
